body {
    background-color: #F8F4E1;
    font-family: "Poppins", "sans-serif";
   
}
*{
     color: #74512D;
}
.container{
    width: 60%;
    height: fit-content;
    padding-bottom: 50px;
    background-color: #FEBA17;
    border: 2px solid #4E1F00;
    border-radius: 10px;
    margin: auto;
    margin-top: 20%;
    cursor: pointer;
    color: hsl(0, 0%, 70%);
}    
.container h1{
    color: grey;
    padding: 20px;
}
.container .line{
    width: 100%;
    height: 2px;
    background-color: grey;
    position: relative;
    top: -25px;
}
label{
    position: relative;
    left: 20px;
    width: 100%;
    font-weight: bold;
    float: right;
}
input{
    margin-left: 5%;
    width: 85%;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    background-color: hsl(50, 62%, 83%);
    color: black;
    cursor: pointer;
    font-family: inherit;
    
}
button{
    background-color: #4E1F00;
    color: black;
    font-family: inherit;
    font-weight: 700;
    border: 2px solid #F8F4E1;
    padding: 10px 18px;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    left: 40%;
    top: 20px;
}
button:hover{
    background-color: #74512D;
    color: hsl(0, 0%, 70%);
    border: 2px solid black;
    transition: 0.5s ease;
}
.info{
    width: fit-content;
    padding: 5px 20px;
    border: 2px solid #4E1F00;
    background-color: #FEBA17;
    color: #F8F4E1;
    border-radius: 15px;
    position: absolute;
    top: 20px;
    right: -150px;
    transition: 0.5s ease;
}

        
